/* decoracion.css */

#izquierda {
    background-color: blueviolet;
    height: 100%;
    border-radius: 15px;
    padding: 10px;
    margin-left: 20px;
}

.enlace {
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: 10px; /* Ajusta el valor de acuerdo a tu preferencia */
}

.container-fluid {
    margin-top: 10%;
    padding: 0px;
}

.container {
    max-width: 100%;
    background-color: rgb(24, 29, 29);
    color: white;
}

#busqueda {
    background-color: rgb(19, 19, 24);
}

.columna-titulo {
    cursor: pointer;
}