.container {
    text-align: center;
}

#containerregistro {
    color: white;
    border-radius: 50px;
    border: 3px solid aqua;
    background-color: #353349;
    padding: 20px;
    width: 30%;
}

.containerregistro input {
    background-color: #353349;
    border: 1px solid aqua; /* Agregamos estilo de borde */
    border-radius: 10px; /* Agregamos estilo de borde */
    padding: 5px;
}

.containerregistro .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.containerregistro .col-md-12 {
    width: 100%;
    margin-bottom: 10px;
}

a {
    color: blue;
    text-decoration: none;
}

.container_terminos {
    color: #ffffff;
    text-align: left;
    border-radius: 50px;
    background-color: #353349;
    border: 3px solid aqua;
    padding: 20px;
}

.texto p {
    background-color: #353349;
    margin-bottom: 10px;
}

.texto ul {
    padding-left: 20px;
}

.acepto {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 8px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

