body {
    background-color: #353349;
    margin: 0;
    padding: 0;
}

.contenedor_Ayuda,
.contenedor_Ayuda_baja,
.row {
    padding: 10px;
    color: white;
}

.contenedor_Ayuda {
    border-bottom: 4px solid white;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/* Agregamos espacio entre las líneas de la lista */
ul li {
    line-height: 1.5; /* Ajusta el valor según lo necesites */
}

#busqueda {
    background-color: #353349;
    color: #ffffff;
    width: 100%;
}

.input-with-icon input {
    padding-left: 30px;
    background-image: url(img/lupa2.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 20px;
    width: 100%;
}

/* Agregamos estilos para que el contenedor de la lista ocupe el 100% del alto */
.contenedor_Ayuda_baja {
    height: 100vh;
    overflow-y: auto; /* Agregamos desplazamiento vertical si el contenido excede el alto */
}

@media (max-width: 768px) {
    .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
